<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading" jhiTranslate="churchserviceApp.address.home.createOrEditLabel">
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.street" for="field_street">Street</label>
          <textarea class="form-control" name="street" id="field_street" data-cy="street" formControlName="street"></textarea>
          <div *ngIf="editForm.get('street')!.invalid && (editForm.get('street')!.dirty || editForm.get('street')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('street')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          <div *ngIf="editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('city')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('city')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('city')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.province" for="field_province">Province</label>
          <input type="text" class="form-control" name="province" id="field_province" data-cy="province" formControlName="province" />
          <div *ngIf="editForm.get('province')!.invalid && (editForm.get('province')!.dirty || editForm.get('province')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('province')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('province')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('province')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
          <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('country')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('country')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('country')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.addressType" for="field_addressType">Address Type</label>
          <select class="form-control" name="addressType" formControlName="addressType" id="field_addressType" data-cy="addressType">
            <option [ngValue]="null">{{ 'churchserviceApp.AddressType.null' | translate }}</option>
            <option *ngFor="let addressType of addressTypeValues" [value]="addressType">
              {{ 'churchserviceApp.AddressType.' + addressType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('addressType')!.invalid && (editForm.get('addressType')!.dirty || editForm.get('addressType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addressType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.telephoneWork" for="field_telephoneWork">Telephone Work</label>
          <input
            type="text"
            class="form-control"
            name="telephoneWork"
            id="field_telephoneWork"
            data-cy="telephoneWork"
            formControlName="telephoneWork"
          />
          <div
            *ngIf="
              editForm.get('telephoneWork')!.invalid && (editForm.get('telephoneWork')!.dirty || editForm.get('telephoneWork')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephoneWork')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephoneWork')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.telephoneHome" for="field_telephoneHome">Telephone Home</label>
          <input
            type="text"
            class="form-control"
            name="telephoneHome"
            id="field_telephoneHome"
            data-cy="telephoneHome"
            formControlName="telephoneHome"
          />
          <div
            *ngIf="
              editForm.get('telephoneHome')!.invalid && (editForm.get('telephoneHome')!.dirty || editForm.get('telephoneHome')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephoneHome')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephoneHome')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.cellphone" for="field_cellphone">Cellphone</label>
          <input type="text" class="form-control" name="cellphone" id="field_cellphone" data-cy="cellphone" formControlName="cellphone" />
          <div *ngIf="editForm.get('cellphone')!.invalid && (editForm.get('cellphone')!.dirty || editForm.get('cellphone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cellphone')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cellphone')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="churchserviceApp.address.profile" for="field_profile">Profile</label>
          <select
            class="form-control"
            id="field_profile"
            data-cy="profile"
            name="profile"
            formControlName="profile"
            [compareWith]="compareProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="profileOption" *ngFor="let profileOption of profilesSharedCollection">{{ profileOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
